@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #fff;
  --color-black: #21201E;
  --color-accent: #6100C2;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-white: #fff;
    --color-black: #21201E;
    --color-accent: #6100C2;
  }
} */

body {
  min-height: 100vh;  
  color: var(--background-color);
  background: var(--color-black);
}
